.login-btn {
	background-color: #00BFFF;
	padding: 0 45px;
	margin-top:45px;
	color:white;
	font-weight: 500;
	cursor: pointer;
	line-height: 40px;
	border: 0;
	border-radius: 40px;
	box-shadow: rgba(0, 191, 255, 0.25) 0 7px 5px;
}
.login-btn:hover {
	box-shadow: rgba(0, 191, 255, 0.40) 0 10px 10px;
	background-color: #fff;
	color:#00BFFF;
	border: 2px solid #00BFFF;
}
.login-btn {
	transition: ease-in-out 0.2s all;
	-webkit-transition: ease-in-out 0.2s all;
	-moz-transition: ease-in-out 0.2s all;
	-o-transition: ease-in-out 0.2s all;
}
.color2 {
	background-color: #FFFF00;
	box-shadow: rgba(255, 255, 0, 0.25) 0 7px 5px;
}
.color2:hover {
	box-shadow: rgba(255, 255, 0, 0.40) 0 10px 10px;
	color:#FFFF00;
	border: 2px solid #FFFF00;
}
.color3 {
	background-color: #B22222;
	box-shadow: rgba(178, 34, 34, 0.25) 0 7px 5px;
}
.color3:hover {
	box-shadow: rgba(178, 34, 34, 0.40) 0 10px 10px;
	color:#B22222;
	border: 2px solid #B22222;
}
.color4 {
	background-color: #A3CD39;
	box-shadow: rgba(163, 205, 57, 0.25) 0 7px 5px;
}
.color4:hover {
	box-shadow: rgba(163, 205, 57, 0.40) 0 10px 10px;
	color:#A3CD39;
	border: 2px solid #A3CD39;
}

